.container-main {
  padding: 50px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 50px;
  justify-content: center;
}

.container-title {
  margin-top: 20px;
  font-size: 18px;
  color: #5e5873;
}

//select
.container-infor {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    color: #5e5873;
    font-size: 19px;
  }
}

.select-filters-ch {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d8d6de;
  color: #6e6b7b;

  &:focus {
    border: 1px solid #7367f0;
  }

  option {
    font-size: 1.6rem;
    color: #6e6b7b;
  }
}

.container-main2 {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-btn {
  margin-top: 20px;
}

.btn {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  padding: 10px 25px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
  + .btn {
    margin: 0px 25px;
  }
}

.btn-delete {
  margin-right: 20px;
  outline: none;
  border: none;
  background: #fff;
  cursor: pointer;
  background-color: #fff !important;
  border-radius: 5px;
  color: #ea5455;
  border: 1px solid #ea5455 !important;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  padding: 10px 25px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
}
