.container2-1-card {
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
}

.container2-1-card-1 {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 10px;
  cursor: pointer;
  border-right: 1px solid #333;
  min-width: 300px;

  p {
    margin-left: 30px;
    font-size: 25px;
    color: #333333;
  }

  &:hover {
    .container2-1-icon {
      color: rgba(19, 170, 82, 0.9);
    }

    p {
      color: rgba(19, 170, 82, 0.9);
    }
  }
}

.container2-1 {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.container2-1-card-2 {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.container2-1-icon {
  width: 50px;
  height: 50px;
  color: #333333;
}

.container2-1-icon-qr {
  width: 50px;
  height: 50px;
  color: #333333;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: rgba(19, 170, 82, 0.9);
  }
}
