.wrapper {
  margin: 50px 300px 0px 300px;
}

//=========================

.container1 {
  display: flex;
  justify-content: center;
}

.convert-1 {
  color: #5e5873;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  border: 1px solid rgb(202, 190, 190);

  &:hover {
    background-color: rgba(19, 170, 82, 0.8);
    cursor: pointer;
    color: white;
  }
}

.convert-2 {
  color: #5e5873;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  border: 1px solid rgb(202, 190, 190);

  &:hover {
    background-color: rgba(19, 170, 82, 0.8);
    cursor: pointer;
    color: white;
  }
}

.convert-3 {
  color: #5e5873;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  border: 1px solid rgb(202, 190, 190);

  &:hover {
    background-color: rgba(19, 170, 82, 0.8);
    cursor: pointer;
    color: white;
  }
}

.text {
  text-align: center;
}

.activated {
  background-color: rgba(19, 170, 82, 0.9);
  color: white;
}

//=========================
.container2 {
  margin-top: 30px;
}
