.container1-card {
  margin-top: 20px;
  width: 200px;
  min-height: 300px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }
}

.container1-card-img {
  width: 100%;
}

.container1-card-conten {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.NameFood {
  font-size: 20px;
}

.price {
  color: red;
  font-size: 18px;
}

.btn {
  margin-top: 10px;
  width: 100%;
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  padding: 5px 0px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
}

.container-count-btn {
  display: flex;
  height: 20px;
}

.count-btn-1 {
  width: 30px;
  background-color: #13aa52;
  border: 1px solid #13aa52;
}

.count-input {
  width: 50px;
  text-align: center;
  border: 1px solid #13aa52;
}

.count-btn-2 {
  width: 30px;
  background-color: #13aa52;
  border: 1px solid #13aa52;
}
//================
.h3-title {
  text-align: center;
  background-color: #13aa52;
}

.h3-title-hot {
  color: red;
}

.h3-title-new {
  color: #96fd10;
}

.h3-title-all {
  color: #fdbe10;
}
