.container1-card-img {
  width: 150px;
}

.table {
  margin-top: 30px;
  width: 100%;

  th {
    font-size: 20px;
  }
  td {
    height: 50px;
    text-align: center;
  }
}

.td-total {
  border-top: 1px solid rgb(0, 0, 0);
}

.container-btn {
  margin-top: 20px;
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  padding: 10px 25px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
  + .btn {
    margin: 0px 25px;
  }
}

.count-btn-1 {
  width: 30px;
  background-color: #13aa52;
  border: 1px solid #13aa52;
}

.count-input {
  width: 50px;
  text-align: center;
  border: 1px solid #13aa52;
}

.count-btn-2 {
  width: 30px;
  background-color: #13aa52;
  border: 1px solid #13aa52;
}

.btn-delete {
  outline: none;
  border: none;
  background: #fff;
  cursor: pointer;
  background-color: #fff !important;
  border-radius: 5px;
  color: #ea5455;
  border: 1px solid #ea5455 !important;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 5px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
  }

  + .btn {
    margin-left: 20px;
  }
}
