.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 50px;
  justify-content: center;
}

.container-title {
  margin-top: 20px;
  font-size: 18px;
  color: #5e5873;
}

//select
.container-infor {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    color: #5e5873;
    font-size: 19px;
  }
}

.select-filters-ch {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d8d6de;
  color: #6e6b7b;

  &:focus {
    border: 1px solid #7367f0;
  }

  option {
    font-size: 1.6rem;
    color: #6e6b7b;
  }
}
