.wrapper {
  flex: 1;
  position: sticky;
  top: 0;
  height: 100vh;
  box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
  min-width: 200px;
  max-width: 250px;
}

.container {
  padding: 18px 26px;
}
//========================================logo
.container-logio {
  // position: fixed;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  max-width: 40px;
}

.img {
  height: 25px;
}

.title-logo {
  margin-left: 20px;
  color: #7367f0;
}
//========================================
.item {
  // display: flex;
  // align-items: center;
  // gap: 20px;
  // cursor: pointer;
  // padding: 7.5px 0px;
  // text-decoration: none;
  // color: black;
  color: #625f6e;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 20px 0px;
  text-decoration: none;
  gap: 10px;

  &:hover {
    color: #6610f2;
  }
}

.navigation-header {
  list-style-type: none;
  color: #a6a4b0;
  line-height: 1.5;
  letter-spacing: 0.01rem;
}

.active {
  color: #6610f2;
}
