.wrapper {
}
.Link {
  text-decoration: none;
}
//====
.container1 {
  display: flex;
  // align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  border-radius: 10px;
  padding: 15px;
}

.container1-1 {
  display: flex;
  align-items: center;
}

.avatar {
  width: 104px;
  height: 104px;
  border-radius: 10px;
}

.container1-1-2 {
  margin-left: 10px;
}

.container1-1-2-1 {
  h4 {
    color: #5e5873;
    font-weight: 500;
    font-size: 1.9rem;
  }

  p {
    color: #5e5873;
    font-weight: 400;
  }
}

.container1-1-2-2 {
  margin-top: 10px;
}

.btn-edit {
  outline: none;
  border: none;
  background: #fff;
  min-width: 80px;
  min-height: 37px;
  cursor: pointer;
  background-color: #7367f0 !important;
  color: #fff;
  border-radius: 5px;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
}
.btn-delete {
  margin-left: 15px;
  outline: none;
  border: none;
  background: #fff;
  min-width: 80px;
  min-height: 37px;
  cursor: pointer;
  background-color: #fff !important;
  border-radius: 5px;
  color: #ea5455;
  border: 1px solid #ea5455 !important;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
}
//=====
.container2 {
  margin-top: 20px;
}
.container2-1 {
  display: grid;
  grid-template-columns: calc(100% - 50% - 10px) calc(100% - 50% - 10px);
  grid-gap: 20px 20px;
}

.container2-1-1,
.container2-1-2,
.container2-1-3,
.container2-1-4,
.container2-1-5,
.container2-1-6 {
  padding: 20px 20px;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  border-radius: 10px;
  // max-width: 600px;

  li {
    display: flex;
    padding-top: 10px;

    .title {
      font-weight: 500;
      color: #333333;
      min-width: 250px;
    }

    .text {
      color: #6e6b7b;
      font-weight: 400;
    }
  }
}

.title-infor {
  padding-bottom: 5px;
  border-bottom: 1px solid #cacaca;

  h4 {
    color: black;
    font-weight: 700;
    font-size: 1.8rem;
  }
}
//=====
.container3 {
  margin-top: 20px;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  padding: 20px;
  border-radius: 10px;
}

//===============
.container3-1 {
  display: flex;
  justify-content: space-between;
}

.button-NPT {
  margin-left: 20px;
  display: flex;
  align-items: center;
  background-color: #7367f0 !important;
  border: 1px solid #7367f0 !important;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: 'Akzidenz Grotesk BQ Medium', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px;
  text-align: center;

  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
  }

  .icon {
    margin-right: 5px;
  }
}

//=================================
.container4 {
  display: grid;
  grid-template-columns: calc(100% - 50% - 10px) calc(100% - 50% - 10px);
  grid-gap: 20px 20px;
}

.container4-1 {
  margin-top: 20px;
  padding: 20px 20px;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  border-radius: 10px;
  // max-width: 600px;

  .title-infor-4-1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cacaca;
  }

  .title-infor-4 {
    padding-bottom: 5px;

    h4 {
      color: black;
      font-weight: 700;
      font-size: 1.8rem;
    }
  }

  li {
    display: flex;
    padding-top: 10px;

    .title {
      font-weight: 500;
      color: #333333;
      min-width: 300px;
    }

    .text {
      color: #6e6b7b;
      font-weight: 400;
    }
  }
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
