.wrapper {
  background-color: #13aa52;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
}

.container1 {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #fff;
  cursor: pointer;
}
