.Link {
  text-decoration: none;
}

.container-filters-main {
  box-shadow: 5px 4px 24px 5px rgb(34 41 47 / 10%);
  padding: 20px;
  border-radius: 10px;
}

.container-filters {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px 30px;
  padding: 10px;
}

.select-filters {
  display: flex;
  flex-direction: column;

  label {
    color: #5e5873;
    font-size: 1.4rem;
  }
}

.select-filters-chi {
  height: 37px;
  border-radius: 5px;
  border: 1px solid #d8d6de;
  color: #6e6b7b;

  &:focus {
    border: 1px solid #7367f0;
  }

  option {
    font-size: 1.6rem;
    color: #6e6b7b;
  }
}

.container-btn {
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px;
}

.btn1 {
  display: flex;
  align-items: center;
  margin-right: 20px;
  background-color: #7367f0 !important;
  border: 1px solid #7367f0 !important;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 5px;
  text-align: center;
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
  }

  .icon {
    margin-right: 5px;
  }
}

.btn2 {
  display: flex;
  align-items: center;
  background-color: #7367f0 !important;
  border: 1px solid #7367f0 !important;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 5px;
  text-align: center;
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
  }

  .icon {
    margin-right: 5px;
  }
}

// ========
.container-table {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 5px 4px 24px 5px rgb(34 41 47 / 10%);
  padding: 20px;
}
//=======
.container-show-main {
  display: flex;
  justify-content: space-between;
}
.container-search {
  display: flex;
  align-items: center;

  .element-select {
    height: 37px;
    border-radius: 5px;
    border: 1px solid #d8d6de;
    color: #5e5873;

    &:focus {
      border: 1px solid #7367f0;
    }
  }

  .input-search {
    width: 600px;
    height: 37px;
    border-radius: 5px;
    border: 1px solid #d8d6de;
    color: #5e5873;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 1.6rem;
    font-weight: 400;
    outline: none;

    &:focus {
      border: 1px solid #7367f0;
    }
  }

  button {
    margin-left: 20px;
    display: flex;
    align-items: center;
    background-color: #7367f0 !important;
    border: 1px solid #7367f0 !important;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: 'Akzidenz Grotesk BQ Medium', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px;
    text-align: center;

    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
      transform: translateY(-2px);
    }

    .icon {
      margin-right: 5px;
    }
  }
}

.container-show {
  label {
    color: #5e5873;
    font-size: 1.4rem;
  }
  .element-select {
    padding: 5px 10px;
    margin: 0 5px;
    outline: none;
    color: #6e6b7b;
    border: 1px solid #d8d6de;
    border-radius: 5px;
    font-size: 1.6rem;

    &:focus {
      border: 1px solid #7367f0;
    }

    option {
      font-size: 1.6rem;
      color: #6e6b7b;
    }
  }
}
//=========

.container-table-chi {
  overflow-x: auto;
}

.table-personnel {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  min-width: 1200px;

  th {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 20px 0;
    text-align: center;
    background-color: #f3f2f7;
    color: #6e6b7b;
  }

  .container-sort-th {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-up {
      width: 20px;
      height: 20px;
      color: blue;
    }

    .icon-dow {
      width: 20px;
      height: 20px;
      color: red;
    }
  }

  td {
    padding: 15px 0;
    border-bottom: 1px solid #cfced3;

    img {
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
  }

  .click-td {
    cursor: pointer;
  }

  .table-hd {
    .ct {
      font-size: 1.4rem;
      border-radius: 50px;
      padding: 4px 10px;
      background-color: rgba(45, 138, 252, 0.12);
      color: rgb(45, 138, 252) !important;
    }

    .thuv {
      font-size: 1.4rem;
      border-radius: 50px;
      padding: 4px 10px;
      background-color: rgba(255, 159, 67, 0.12);
      color: rgb(255, 159, 67) !important;
    }

    .thoiv {
      font-size: 1.4rem;
      border-radius: 50px;
      padding: 4px 10px;
      background-color: rgba(130, 134, 139, 0.12);
      color: rgb(130, 134, 139) !important;
    }
  }

  .table-tt {
    .dl {
      font-size: 1.4rem;
      border-radius: 50px;
      padding: 4px 10px;
      color: rgb(40, 199, 111) !important;
      background-color: rgba(40, 199, 111, 0.12);
    }

    .nl {
      font-size: 1.4rem;
      border-radius: 50px;
      padding: 4px 10px;
      color: #82868b !important;
      background-color: rgba(130, 134, 139, 0.12);
    }
    .dtd {
      font-size: 1.4rem;
      border-radius: 50px;
      padding: 4px 10px;
      color: rgb(102, 171, 255) !important;
      background-color: rgba(102, 171, 255, 0.12);
    }
    .ts {
      font-size: 1.4rem;
      border-radius: 50px;
      padding: 4px 10px;
      color: rgb(83, 47, 245) !important;
      background-color: rgba(83, 47, 245, 0.12);
    }
  }

  .acctions {
    .icon {
      width: 20px;
      height: 20px;
    }
  }
}

.no-data {
  margin: 50px 0;
  text-align: center;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
