.container-btn {
  width: 100%;
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  padding: 10px 25px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
}

.container-btn-icon {
  margin-right: 20px;
}
//======================
.container-title {
  margin-top: 20px;
  font-size: 18px;
  color: #5e5873;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 50px;
  justify-content: center;
}

.container1-1 {
  width: 100%;
}
