.wrapper {
  position: sticky;
  top: 0;
  // background-color: aqua;
  background-color: #fff;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 10px 20px;
}

.container-infor {
  display: flex;
  text-align: end;

  img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }
}

.container-name {
  margin-right: 10px;
  font-size: 1.4rem;
  color: #6e6b7b;

  .p1 {
    font-weight: 600;
  }
}
